<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dendritic Learning.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F4D56984568F32F94B592846AD444D18DFF36A53</string>
				<key>dateExpires</key>
				<string>3/16/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>366XTZF564.com.dendritic-learning.dendriticlearning</string>
				<key>com.apple.developer.team-identifier</key>
				<string>366XTZF564</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Dendritic Learning.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fbb4d604-8a86-456a-bac4-718e5d8b7917</string>
				<key>dateExpires</key>
				<string>7/23/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>366XTZF564</string>
				<key>name</key>
				<string>Jennifer Lundeen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
